# Environment variables
.env

# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Test results and coverage reports
.pytest_cache/
htmlcov/
.coverage
